$white: #fff;
$transwhite: #d7ccc0;
$lightcolor: #f5f4f0;
$maincolor: #fe8a02;
$maindarkcolor: #42413c;
$darkcolor: #2a2626;
$transdarkcolor: #908d8b;
$brown: #b09a81;
$blue: #1085c5;
$textcolor: #2A2626;
