.video {
  padding: 100px 30px 0;

  text-align: center;

  &__title {
    @extend %title;

    margin-bottom: 30px;

    &--highlighted {
      @extend %title--highlighted;
    }
  }

  &__iframe {
    position: relative;
    bottom: -40px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  }
}
