@import "colors";

@font-face {
  font-family: Neucha;
  src: url("../fonts/Neucha-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}

// вынести в отдельный файл?
%title {
  font-weight: normal;
}

%title--highlighted {
  color: $maincolor;
}

%text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: $textcolor;
  line-height: 1.6em;
}

// Добавить reset
p {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  margin: 0;

  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.header {
  position: relative;

  padding: 100px 30px;
  overflow: hidden;

  background: $lightcolor;

  &::before {
    position: absolute;

    content: "";

    width: 100%;
    height: 100%;

    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.1;
  }

  &__title {
    @extend %title;

    position: absolute;
    top: 100px;
    left: 160px;
    z-index: 20;

    &--highlighted {
      @extend %title--highlighted;
    }
  }

  &__image {
    position: relative;
    top: 55px;
    right: -270px;

    height: 525px;
    margin-bottom: 30px;
  }

  &__button {
    position: relative;
    z-index: 10;

    display: inline-block;

    margin-top: 40px;
    padding: 12px 24px;

    font-weight: bold;
    color: $white;
    text-decoration: none;

    background: $maincolor;
  }
}

.columns {
  margin-bottom: 50px;

  column-count: 2;
  column-gap: 30px;

  & p {
    margin: 0;

    &:nth-child(2) {
      break-inside: avoid;
    }
  }
}

section {
  margin: 100px 0;
}

.video {
  padding: 100px 30px 0;

  text-align: center;

  &__title {
    @extend %title;

    margin-bottom: 30px;

    &--highlighted {
      @extend %title--highlighted;
    }
  }

  &__iframe {
    position: relative;
    bottom: -40px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  }
}
